---
import { Hero } from "@modules/Hero";
import Layout from "../layouts/Layout.astro";
import { Features } from "@modules/Feautres";
import { ImageContent } from "@modules/ImageContent";
import { SectionHeadings } from "@modules/SectionsHeading";
import { Testimonials } from "@modules/Testimonials";
---

<Layout title="ReyHub | Blockchain Validator & Delegate" description="YOUR META DESCRIPTION FOR SEO">
    <main class="page-content">
        <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=62894aa62c2b24001fd54879&product=sop' async='async'></script>
         
       <Hero
       heroType="center"
       data={{
              
                image: "",
           
       
                title: `Blockchain & Validator`,
                
               
                description: `A Validator is a Participant in a Proof of Stake (PoS) Blockchain Network That is Responsible.`,
                
                buttons: [
                  
                ],
            }}
         
        />
       
      <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
      <dotlottie-wc src="https://lottie.host/d133a3bf-208b-4025-a391-92f280e3a9f4/glqS9uCMu2.lottie" speed="1" style="width: 100%; height: 500px" mode="forward" loop autoplay></dotlottie-wc>
        <SectionHeadings
            data={{
                label: "",
                title: "",
                description:
                    "",
            }}
        />
       <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e3" lcw-marquee-1="coins" lcw-marquee-2="coins" lcw-marquee-items="30" ></div>
    </main>
    <script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "95370237-8a38-471a-9c1c-31e780a00245"
  });
</script>
</Layout>
