---
import Layout from "../layouts/Layout.astro";

import { Button } from "@components/Button";
import { Container } from "@components/Container";
---

<Layout

    title="Instan Crypto Exchange"
    description="YOUR META DESCRIPTION FOR SEO"
>
    <main class="page-content">

       <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=62894aa62c2b24001fd54879&product=sop' async='async'></script>
        <section class="relative mb-20 pt-32" data-animate>
            <Container>
                <div class="text-center">
                    <h1
                        class="text-h1 md:text-h1-md lg:text-h1-lg font-bold opacity-90"
                    >
                        <br /> Buy Crypto
                    </h1>
                </div>

                <div class="max-w-sm mx-auto">
                    <div class="flex items-center my-6">
                        <span class="border-t border-tertiary grow mr-3">
                        </span>
                        <div class="text-primary opacity-60">
                            Buy, Sell, Swap
                        </div>
                        <span class="border-t border-tertiary grow ml-3">
                        </span>
                    </div>

                    <form>

                        <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e3" lcw-marquee-1="coins" lcw-marquee-2="movers" lcw-marquee-items="30" ></div>
                        
                       <iframe id='iframe-widget' src='https://changenow.io/embeds/exchange-widget/v2/widget.html?FAQ=true&amount=0.1&amountFiat=1500&backgroundColor=242434&darkMode=true&from=btc&fromFiat=eur&horizontal=false&isFiat&lang=en-US&link_id=537f0c2ee20bbe&locales=true&logo=false&primaryColor=00C26F&to=eth&toFiat=eth&toTheMoon=true' style="height: 356px; width: 100%; border: none"></iframe>
                      <script defer type='text/javascript' src='https://changenow.io/embeds/exchange-widget/v2/stepper-connector.js'></script>
                            
                        </div>
                       
                            </div>
                        </div>
                    </form>
                    <div class="text-primary text-center mt-6">
                         <a
                            href="#"
                            class="text-tertiary hover: transition duration-150 ease-in-out"
                            ></a
                        >
                    </div>
                </div>
            </Container>
        </section>
    </main>
    <script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "95370237-8a38-471a-9c1c-31e780a00245"
  });
</script>
</Layout>
